<div class="container">
  <a class="btn btn-info" ng-click="newGroup()">
    New Group
  </a>
  <div ng-repeat="group in groups">
    <div class="row">
      <h3>{{group.title}} : {{totalGroupPoints(group)}} points</h3>
      <div ng-repeat="student in group.students track by $index">
        <gs-kitten-card></gs-kitten-card>
        <a class="btn btn-info" ng-click="increasePoints(student)">
          Increase Points
        </a>
        <a class="btn btn-danger" ng-click="decreasePoints(student)">
          Decrease Points
        </a>
        <a class="btn btn-danger" ng-click="removeFromGroup(group, student)">x</a>
      </div>
    </div>
  </div>
</div>
